{% extends "board_games/base.html" %}

{% block content %}

    <p class="title">All games on Boardy</p>

    <ul class="games">
        {% for game in games %}
            <li><i class="fas fa-dice"></i><a href="{% url 'board_games:board_game' game.id %}">{{ game }}</a></li>
        {% empty %}
            <li>No games have been added yet!</li>
        {% endfor %}
    </ul>

    <p><span class="tab">You could expand this list by <a href="{% url 'board_games:new_board_game' %}">adding a new game.</a></span></p>


{% endblock content %}