{% extends "board_games/base.html" %}

{% block content %}

    <h1>{{ board_game }}</h1>

    <ul>
        <li>Owner: {{ board_game.owner }}</li>
        <li>Date added: {{ board_game.date_added|date:"F d, Y H:i" }}</li>
        <li>{{ board_game.description|linebreaks }} </li>
        {% if loaned == "" %}
        <li><a href="{% url 'board_games:borrow_game' board_game.id %}">Borrow this game!</a></li>
        {% else %}
        <p> This game is borrowed </p>
        {% endif %}
        </p>
    </ul>

    <h3>Borrowing history:</h3>
    <ul>
        {% for loan in loans %}
            <li>{{ board_game }} was borrowed on {{ loan.date_added|date:"F d, Y H:i" }}</li>
        {% empty %}
            <li>Nobody has borrowed this game yet!</li>
        {% endfor %}
    </ul>


{% endblock content %}