{% extends "board_games/base.html" %}

{% block content %}

    <p class="title"><i class="fas fa-dice"></i> {{ board_game }}</p>

    <ul class="gameDetail">
        <li><strong>Owner:</strong>
            {% if board_game.owner == user %}
                This is your game!
            {% else %}
                {{ board_game.owner }}
            {% endif %}</li>
        <li><strong>Date added:</strong> {{ board_game.date_added|date:"F d, Y H:i" }}</li>
        <li><strong>Description:</strong>
            <ul><li>{{ board_game.description|linebreaks }}</li></ul></li>
    </ul>
    <br>
    {% if loaned == "" %}
    <span class="tab"><a href="{% url 'board_games:borrow_game' board_game.id %}">Borrow this game</a> <i class="fas fa-arrow-right"></i></span>
    {% else %}
        <p>This game is currently borrowed.</p>
    {% endif %}
    <br>

    <p><h3>Borrowing history:</h3></p>
    <ul class="history">
        {% for loan in loans %}
            <li>{{ board_game }} was borrowed on {{ loan.date_added|date:"F d, Y" }}.</li>
        {% empty %}
            Nobody has borrowed this game yet.
        {% endfor %}
    </ul>


{% endblock content %}