{% extends "board_games/base.html" %}

{% block content %}

    

        {% if user.is_authenticated %}
            <p class="title">Hello, <span class="user">{{ user.username }}</span>!</p>
            <p class="paragraph"><span class="tab">Want to borrow one of these games today?</span></p>
        {% else %}
            <p class="title">Welcome to Boardy!</p>
            <p class="paragraph"><span class="tab">Interested in borrowing some of these games? <a href="{% url 'users:register' %}">Create an account and you can!</a></span></p>
        {% endif %}

        <ul class="games">
            {% for game in first_5 %}
                <li><i class="fas fa-dice"></i>{{ game }}</li>
            {% empty %}
                No games have been added yet!
            {% endfor %}
        </ul>

        <p><span class="tab"><a href="{% url 'board_games:all_games' %}">See all the games available on Boardy! <i class="fas fa-arrow-right"></i></a></span></p>



{% endblock content %}