{% extends "board_games/base.html" %}

{% block content %}

    <p class="title"><span class="user">{{ user.username }}</span>'s dashboard</p>
    <p>Here you can view all games you have added to Boardy, add more games or edit already added games, and view your borrowing history.</p>

    <br>

    <div id="dashboardWrapper">

        <div class="usersGames">

            <h3><i class="fas fa-dice"></i> Your games:</h3>
            <ul class="games">
                {% for game in users_board_games %}
                    <li><a href="{% url 'board_games:board_game' game.id %}">{{ game }}</a> (<a href="{% url 'board_games:edit_board_game' game.id %}">edit</a>)</li>
                {% empty %}
                    You haven't added any games yet.
                {% endfor %}
            </ul>
            <p><span class="tab"><a href="{% url 'board_games:new_board_game' %}">Add a new game</a></span></p>
        </div>

        <div class="usersHistory">
            <h3><i class="fas fa-dice"></i> Your borrowing history:</h3>
            <ul class="history">
                {% for loan in users_loans %}
                    <li>Borrowed {{ loan.board_game }} from <span class="user">{{ loan.board_game.owner }}</span> on {{ loan.date_added | date:"F d, Y H:i" }}.<br>
                    {% if loan.borrow %}
                        <a href="{% url 'board_games:edit_loan' loan.id %}">Return the game</a>
                    {% else %}
                        Returned on {{ loan.date_edited | date:"F d, Y H:i" }}.
                    {% endif %}
                    </li>
                {% empty %}
                    You haven't borrowed any games yet.
                {% endfor %}
            </ul>
        </div>

    </div>



{% endblock content %}